# Super Admin Control Center Environment Variables Example
REACT_APP_BASE_URL=http://localhost:5000
REACT_APP_SUPER_ADMIN_EMAIL=superadmin@apnaschool.com
REACT_APP_SUPER_ADMIN_PASSWORD=admin123
REACT_APP_SUPER_ADMIN_ROLE=SuperAdmin
REACT_APP_PORTAL_TITLE=Apna School SaaS Super Admin Control Center
